[build]
  command = "pnpm run build"
  publish = ".next"
  functions = ".next/server"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@prisma/client", "prisma"] # Add any other deps here

[build.environment]
  NPM_FLAGS = "--version" # This helps Netlify detect pnpm
  NODE_VERSION = "20" # Use Node 20

[[plugins]]
  package = "@netlify/plugin-nextjs"